{{ form_start(form) }}
<div class="row form-group mb-3">
    <div class="col-xxl-12 d-flex align-self-start mb-2">
        {{ form_label(form.name, "Anaran'ny laoka") }}
    </div>
    <div class="col-xxl-12">
        {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': "Ampidiro ny anaran'ny laoka"}}) }}
    </div>
</div>
<div class="row form-group mb-3">
    <div class="col-xxl-12 d-flex align-self-start mb-2">
        {{ form_label(form.day_type, "Andro") }}
    </div>
    <div class="col-xxl-12">
        {{ form_widget(form.day_type, {'attr': {'class': 'form-select', 'placeholder': "Andro"}}) }}
    </div>
</div>
<div class="row form-group mb-3">
    <div class="col-xxl-12 d-flex align-self-start mb-2">
        {{ form_label(form.viandes, "Hena") }}
    </div>
    <div class="col-xxl-12">
        {{ form_widget(form.viandes, {'attr': {'class': 'form-select form-control-select2', 'placeholder': "Hena"}}) }}
    </div>
</div>
<div class="row form-group mb-3">
    <div class="col-xxl-12 d-flex align-self-start mb-2">
        {{ form_label(form.non_viandes, "Fangarony") }}
    </div>
    <div class="col-xxl-12">
        {{ form_widget(form.non_viandes, {'attr': {'class': 'form-select form-control-select2', 'placeholder': "Fangarony"}}) }}
    </div>
</div>
<div class="form-group mb-3">
    <button class="btn btn-primary w-100">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
